header img {
    height: 80px;
    margin-left: 60px;
}

main {
    color: #262626;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: #262626;
    text-decoration: none;
    font-size: 25px;
}
