* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
  font-family: 'Jost';
  background-image: url('../img/background2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
